body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


li {
    float:left;
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

#top {
    background-color: #E1F0DA;
    width: auto;
    height: 100px;
}

#top_left{
    float:left;
    margin-left: 50px;
    /*background-color: red;*/
    height:100px;
}

#top_right{
    float:right;
    /*background-color: green;*/
    height:100px;
    padding-right: 50px;
}

#top_logo{
    height: 66px;
}

.top_link{
    margin-left:20px;
    color:gray;
}

a:link{
    color:aqua;
}

.top_link a:link{
    color:gray;
}

.top_link a:hover{
    color:aqua;
}

.top_link a:visited{
    color:gray;
}
#top_logo_text{
    margin-left:10px;
    font-size:25px;
    font-family: Arial;
    color:pink;
}


#mid{
    width: auto;
    height: 600;
    background-color: #D4E7C5;
    padding-top: 20px;
}

#content{
    display: flex;
    justify-content: center;
}

#bottom {
    width: auto;
    height: 200;
    background-color: #99BC85;
}

#bottom_content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

#bottom_content ul{
    flex:1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


#bottom_content ul li{
    margin-top: 15px;
}